{% extends 'distance_from_mkad/base_distance_from_mkad.html' %}

{% block content %}
{{ super() }}
<div id="index" class="wnd_dlg_back index_wnd">
<div class="index">
	<p class="title">Для нахождения расстояния от МКАД до вашего адреса, введите адрес или название объекта:</p>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
	<form action="{{ url_for('.result') }}" method="post">
		<input class="index_input" type="text" placeholder="Одинцово, Молодёжная 15" name="address" />
		<p align="center"><input class="index_button" type="submit" value="Рассчитать">
	</form>
</div>
</div>{% endblock %}
